{% include 'hdms_adminhome.html' %}
<br><br>
<h2 align="center"STYLE="color: red">FORWAR TO FINANCE_DEPARTMENT</h2>
{% if forward %}
<table align="center"style="color: white">
<form action="{%  url 'sendforward_data' %}"method="post">
    {% csrf_token %}
    <tr>
        <th><lable>DOCTOR_REQUEST_ID :</lable>
            <input type="number"value="{{ forward.DR_ID}}"name="docreq_id"readonly>
        </th>
    </tr>
    <tr>
        <th><lable>DOCTOR_ID :</lable>
            <input type="number"value="{{ forward.DOCTOR_ID }}"name="doc_id"readonly>
        </th>
    </tr>
    <tr>
        <th><lable>DOCTOR_Name :</lable>
            <input type="text"value="{{ forward.DOCTOR_NAME }}"name="doc_name"readonly>
        </th>
    </tr>
    <tr>>
        <th><lable>DEVICE_ID :</lable>
            <input type="number"value="{{ forward.DEVICE_ID }}"name="dev_id"readonly>
        </th>
    </tr>
    <tr>>
        <th><lable>DEVICE_NAME :</lable>
            <input type="text"value="{{ forward.DEVICE_NAME }}"name="dev_name"readonly>
        </th>
    </tr>
    <tr>
        <th><lable>STATUS_ID :</lable>
            <input type="number"value="2"name="status_id" required readonly>
        </th>
    </tr>
    <tr>
          <th>
            <h5 align="center" style="color: paleturquoise">NOTE: 1-Pending/2-Forwarded/3-Device Allowcated/4-Reject(choose 2-only forwared to finance status_id)</h5>
          </th>
    </tr>
    <tr>
        <th>
            <button type="submit">FORWARD</button>
        </th>

    </tr>
</form>


</table>
{% endif %}
{% if msg %}
       <h1 align="center" style="color: red"> {{ msg }} </h1>
        {% endif %}