{% include 'hdms_Emphome.html' %}
<br><br>
<table align="center">
    {% for x in data %}
    <tr>
        <th>
            <h1 style="color:red"align="center">Update_My_Profile</h1>
        </th>
    </tr>
        <form action="{% url 'saveupdtoneemp' %}"method="post">
        {% csrf_token %}

    <tr>
        <th><label style="color: white">EMP_ID :</label>
            <input type="number"value="{{ x.Emp_id  }}" name="e_id"readonly>
        </th>
    </tr>
            <tr>
        <th><label style="color: white">EMP_NAME :</label>
            <input type="text"value="{{ x.Emp_name }}" name="e_name"required>
        </th>
    </tr>
    <tr>
        <th><label style="color: white">LOGIN_NAME :</label>
            <input type="text"value="{{ x.Emp_loginname}}" name="e_loginname"required>
        </th>
    </tr>
    <tr>
        <th><label style="color: white">PASSWORD :</label>
            <input type="text"value="{{ x.Emp_password }}" name="e_password"required>
        </th>
    </tr>

    <tr>
        <th><label style="color: white">DATE_OF_JOIN :</label>
            <input type="date" value="{{ x.Emp_doj }}" name="e_joindate"required>
        </th>
    </tr>
    <tr>
        <th><label style="color: white">CONTACT :</label>
            <input type="number" value="{{ x.Emp_contact }}" name="e_contact" max="9999999999"min="6666666666" required>
        </th>
    </tr>
    <tr>
        <th><label style="color: white">EMAIL :</label>
            <input type="email"value="{{ x.Emp_email }}" name="e_email"required>
        </th>
    </tr>
            <tr>
        <th><label style="color: white">TYPE :</label>
            <select name="e_type">
                <option >Employee</option>
                <option >Doctor</option>
                <option >Finance Department</option>
            </select>
        </th>
    </tr>

    <tr>
        <th>
            <button type="submit">UPDATE</button>
        </th>
         <th>
            <button type="reset">RESET</button>
        </th>

    </tr>
        </form>
    {% endfor %}
{% if msg %}
    <h4 align="center" style="color: red"> {{ msg }}</h4>
{% endif %}
</table>