{% include 'hdms_adminhome.html' %}
<br><br>
<h4 align="center"style="color: orange">View/Delete Finanace Department</h4>
<br>
{% if Finance %}
 <table align="center" border="5" width="0" bgcolor="#90ee90">
 <tr>
     <th width="100"style="background:red">FD_ID</th>
     <th width="100" style="background:red">FD_NAME</th>
     <th width="100" style="background:red">CONTACT</th>
     <th width="100" style="background:red">LOGIN_NAME</th>
     <th width="100" style="background:red">PASSWORD</th>
     <th width="100" style="background:red">DATE_OF_JOIN</th>
     <th width="100" style="background:red">EMAIL</th>
     <th width="100" style="background:red">DELETE</th>

 </tr>
{% for x in Finance %}

    <tr>
        <th>
            {{ x.Fd_id }}
        </th>
        <th>
            {{ x.Fd_name }}
        </th>
        <th>
            {{ x.Fd_contact}}
        </th>

    <th>
            {{ x.Fd_loginname}}
        </th>
    <th>
            {{ x.Fd_password }}
        </th>
    <th>
            {{ x.Fd_doj}}
        </th>
    <th>
            {{ x.Fd_email}}
        </th>
    <th style="background:lightgreen">
        <a href="{% url 'del_fd'  x.Fd_id %}" >Delete</a>
    </th>
    </tr>
{% endfor %}
   </table>
{% else %}
    <h2 align="center">NO DATA IS AVAILABLE</h2>
{% endif %}